body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}


/* header */
.header-main {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.header-name-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-right: 76px
}

.logo-name-stu {
  color: #2e2f42;
}

.header-menu:hover,
.header-menu:focus {
  color: #404bbf;
}

.header-menu-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-item {
display: block;
color: #2e2f42;
padding: 24px 0;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:hover,
.header-item:focus {
  color: #404bbf;
}

.header-item.current {color: #404bbf;}
.header-item.current::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: #404bbf;
border-radius: 2px;
width: 100%;
}

.item-studio:hover
.item-studio:active {
  color: #404BBF;
}

.header-address-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.item-studio {
position: relative;
color: #404bbf; 
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-item {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-item:hover,
.header-address-item:focus {
  color: #404bbf;
}

.header-address-item:nth-child(1) {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-item:nth-child(2) {
display: flex;
margin-right: 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* main */
/* section-1 */
.page {
  margin:0 auto; 
  max-width: 1440px; 
  padding: 188px 0;
  background: #2e2f42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto 48px;
  max-width: 496px;
}

.page-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.page-button:hover,
.page-button:focus {
  background-color: #404BBF;
}

/* section-2 */
.feature {
  padding: 120px 0;
}

.feature-item {
width: calc((100% - 72px) / 4);
}

.feature-one {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
margin-bottom: 8px;
border-radius: 4px;
border: 1px solid #8e8f99;   
background-color: #f4f4fd;  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
display: flex;
gap: 24px;
max-width: 1128px;
wight: 100%;
flex-shrink: 0;
}

.feature-subtitle {
display: flex;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.feature-item-title {
display: flex;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* section-3 Our Team*/
.team {
  display: flex;
  padding: 120px 0 120px 0;
  background: #f4f4fd;
}

.team-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-title {
  display: flex;
  gap: 24px;
}

.team-page {
  background: #fff;
  flex-wrap: wrap;
  margin-bottom: 0;
  border-radius: 0px 0px 4px 4px;
  padding-left: 0;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-worker {
  padding: 32px 0;
}

.team-page-last {
  margin-right: 0;
}

.team-page-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-page-work {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 margin-bottom: 8px; 
}

.icon-item-team {
  width: 40px;
  height: 40px;
}

.icon-link-team {
display: flex;
align-items: center;
justify-content: center; 
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.icon-list-team {
  display: flex;
align-items: center;
justify-content: center; 
  gap: 24px;
}

.icon-icon-team {
fill: #f4f4fd;
}

.icon-link-team:hover,
.icon-link-team:focus {
 background-color: #404bbf; 
}

/* section-4 Our Portfolio */
.portfolio-main {
  display: flex;
  padding: 120px 0 120px 0;
}

.portfolio-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-page {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-page:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.photo-text, .portfolio-photo {
height: 100%; 
width: 100%;   
}

.portfolio-names {
position: relative;
overflow: hidden; 
}

.portfolio-page:hover 
.photo-text {
transform: translateY(0%);
}

.photo-text {
display: flex;
align-items: center;
position: absolute;
top: 0;
padding: 32px 16px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 40px 32px;
color: #f4f4fd;
background-color: #4d5ae5;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-text:hover {
background-color: #4d5ae5;
color: #f4f4fd;
}

.portfolio-names-two {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-work {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.potfolio-border {
border: initial;
}

/* Footer */
.footer-page {
display: inline-block;
background: #2e2f42;

width: 100%;

padding: 100px 0;
}

.footer-container {
text-align: left;
display: flex; 
align-items: baseline;
}

.footer-container-one {
margin-right: 120px;
}

.footer-logo {
display: inline-block;
margin-bottom: 16px;
text-align: left;
justify-content: flex-start;
flex-direction: row;
gap: 16px;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.footer-name-stu {
 color: #f4f4fd;
}

.footer-text {
 font-size: 16px;
 text-align: left;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #f4f4fd;
 width: 264px;
}

.footer-container-two {
margin-right: auto;
}

.social-mane {
font-weight: 500;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px; 
}

.icon-list {
  display: flex;
  gap: 16px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
 width: 100%;
 height: 100%;
 background-color: #4d5ae5;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

icon-link {
fill: #f4f4fd;
}

.icon-icon {
fill: #f4f4fd;
}

.icon-link:hover,
.icon-link:focus {
background-color: #31D0AA;
}

.footer-container-tree {
margin-right: auto;
}

.footer-mail-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;

margin-bottom: 16px;
}

.footer-mail {
display: flex;
gap: 24px;
}

.footer-form-input {
display: flex;
padding-left: 16px; 

font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
  
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;

background: transparent;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
  color: #fff;
}

.footer-button-sub {
display: flex; 
height: 40px;
min-width: 165px;
justify-content: center; 
align-items: center; 

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #ffffff;

border: none;
border-radius: 4px;
background: #4d5ae5;  
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-button-sub:hover,
.footer-button-sub:focus {
background-color: #404BBF;
}

.icon-icon-footer {
fill: #FFFFFF;
display: flex;
margin-left: 16px;
}


/* Modal */
.backdrop {
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0; 
background: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
pointer-events: none;
visibility: hidden;
}

.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn:hover>.close-btn-icon,
.close-btn:focus>.close-btn-icon {
    fill: #fff;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.17;
    background-color: transparent;
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-field-icon {
    fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-four {
margin-bottom: 16px;
}  

.modal-text {
width: 100%;
height: 120px; 
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;  
padding: 8px 16px; 
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checked {
margin-bottom: 24px;
}

.modal-five {
margin-bottom: 24px;
} 

.modal-text:focus {
border-color: #4d5ae5;
}

.check-text {
font-weight: 400;
font-size: 12px;
line-height: 14px; 
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.check-text-icon {
display: inline-flex; 
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
align-items: center;
justify-content: center;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-right: 8px; 
}

.modal-check:checked + .check-text .check-text-icon {
fill: #F4F4FD;
background-color: #404BBF;
border: none;
}

.policy-link {
line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
padding-left: 2px;
}

.modal-btn {
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
cursor: pointer;
background: #4d5ae5;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
cursor: pointer;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-btn:hover,
.modal-btn:focus {
background-color: #404bbf;
}
